<clr-datagrid>
    <clr-dg-column style="width: 5%">User ID</clr-dg-column>
    <clr-dg-column style="width: 30%" [clrDgField]="'name'">Name</clr-dg-column>
    <clr-dg-column style="width: 10%" [clrDgField]="'creation'">Creation date</clr-dg-column>
    <clr-dg-column style="width: 25%" [clrDgField]="'pokemon.name'">Pokemon</clr-dg-column>
    <clr-dg-column style="width: 10%" [clrDgField]="'color'">Favorite color</clr-dg-column>
    <clr-dg-column style="width: 20%">Operation</clr-dg-column>
    <clr-dg-row *clrDgItems="let user of users">
        <clr-dg-cell>{{user.id}}</clr-dg-cell>
        <clr-dg-cell>{{user.name}}</clr-dg-cell>
        <clr-dg-cell>{{user.creation | date}}</clr-dg-cell>
        <clr-dg-cell>{{user.pokemon.name}}</clr-dg-cell>
        <clr-dg-cell>
            <span class="color-square" [style.background]="user.color"></span>
        </clr-dg-cell>
        <clr-dg-cell>
            <a class="btn btn-sm btn-primary" (click)="update(user)">更新</a>/&nbsp; <a class="btn btn-sm" (click)="delete(user)">删除</a>
        </clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} users
        <clr-dg-pagination #pagination [clrDgPageSize]="15"></clr-dg-pagination>
    </clr-dg-footer>
</clr-datagrid>
<div class="modal" *ngIf="opened">
    <div class="modal-dialog" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" class="close" type="button" (click)="opened = false">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                <h3 class="modal-title">数据更新</h3>
            </div>
            <div class="modal-body">
                <form #updateForm="ngForm">
                    <section class="form-block">
                        <div class="form-group">
                            <label for="id">id</label>
                            <input type="text" id="id" name="id" size="45" [ngModel]="selectedItem.id">
                        </div>
                        <div class="form-group">
                            <label for="name">name</label>
                            <input type="text" id="name" name="name" size="45" [ngModel]="selectedItem.name">
                        </div>
                        <div class="form-group">
                            <label for="creation">creation</label>
                            <input type="text" id="creation" name="creation" size="45" [ngModel]="selectedItem.creation">
                        </div>
                        <div class="form-group">
                            <label for="pokemon.name">pokemon.name</label>
                            <input type="text" id="pokemon.name" name="pokemon.name" size="45" [ngModel]="selectedItem.pokemon.name">
                        </div>
                        <div class="form-group">
                            <label for="color">color</label>
                            <input type="text" id="color" name="color" size="45" [ngModel]="selectedItem.color">
                        </div>
                    </section>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit" (click)="updateConfirm(updateForm.value)">确认</button>
                <button class="btn btn-outline" type="button" (click)="opened = false">取消</button>
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop" aria-hidden="true" *ngIf="opened"></div>